
  .title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    animation: slideInFromLeft 2s ease-out;
  }
  
  @keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 5;
      transform: translateX(0);
    }
  }